{% extends "dashboard_app_templates/base.html" %}

{% block page_title %}
dashboard info
{% endblock page_title %}


{% block content %}

<style>
    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }
    div#rules {
        margin-top: 3.5em; }
    hr {
        margin-top: 2em; }
    dt, dd {
        font-family:sans-serif;
        margin-top: .5em; }
    dt {
       float:left;
       clear:left;
       text-align:right;
       width:15%;
       color:#bbb;
       font-size: 125%; }
    dd {
       float:left;
       margin-left:2em;
       color:#999;
       font-size: 125%; }
    p {
        font-size: 125%;
        margin-top:1.5em; }
    ul {
        list-style-type: square;
        margin-left: 2em;
        font-size: 125%; }
    li {
        margin-top: .5em; }
</style>

 <h1>dashboard info (under construction)</h1>

<div id="rules">
    <p>This service...</p>
    <p>If you have questions, feel free to email {{ email_general_help|urlize }}.</p>
    <p>Links...</p>
    <ul>
        <li><a href="{% url 'dashboard_app.views.request_widget' %}">Request a widget</a></li>
        <li><a href="{{ first_widget_url }}">Example individual widget</a></li>
        <li><a href="{% url 'dashboard_app.views.tag' 'easyborrow' %}">Example widget tag</a></li>
    </ul>
</div>

<hr/>

{% endblock content %}
