{% load humanize %}

<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>

<div id="widget_detail">

	<div id="chart"></div>

	<div id="chart_info">
		<ul>
			<li>Data contact: <a href="mailto:{{ widget.data_contact_email_address }}">{{ widget.data_contact_name }}</a></li>
			{% if widget.more_info_url %}
			<li>More info: <a href="{{ widget.more_info_url }}">{{ widget.more_info_url }}</a></li>
			{% endif %}
			<li>RSS feed of data: <a href="{{ host }}feeds/widget_data/{{ widget.slug }}/">{{ host }}feeds/widget_data/{{ widget.slug }}/</a></li>
			<li>Widget url: <a href="{{ host }}widget/{{ widget.slug }}/">{{ host }}widget/{{ widget.slug }}/</a></li>
		</ul>
	</div>

</div> <!-- end div id="widget_detail" -->

<script type="text/javascript">
	// <https://developers.google.com/chart/interactive/docs/gallery/linechart>
	google.load( 'visualization', '1', {packages: ['corechart']} );
	// google.load( 'visualization', '1', {packages: ['line']} );
	google.setOnLoadCallback( drawChart );
	function drawChart() {
		var data = new google.visualization.DataTable();
		data.addColumn( 'number', 'X' );
		data.addColumn( 'number', 'Dogs' );
		data.addRows(
			[
			[0, 0],   [1, 10],  [2, 23],
			[3, 17],  [4, 18],  [5, 9],
			[6, 11],  [7, 27],  [8, 33],
			[9, 40],  [10, 32], [11, 35],
			[12, 30], [13, 40], [14, 42],
			[15, 47], [16, 44], [17, 48],
			[18, 52], [19, 54], [20, 42],
			[21, 55], [22, 56], [23, 57],
			[24, 60], [25, 50], [26, 52],
			[27, 51], [28, 49], [29, 53],
			[30, 55], [31, 60], [32, 61],
			[33, 59], [34, 62], [35, 65],
			[36, 62], [37, 58], [38, 55],
			[39, 61], [40, 64], [41, 65],
			[42, 63], [43, 66], [44, 67],
			[45, 69], [46, 69], [47, 70],
			[48, 72], [49, 68], [50, 66],
			[51, 65], [52, 67], [53, 70],
			[54, 71], [55, 72], [56, 73],
			[57, 75], [58, 70], [59, 68],
			[60, 64], [61, 60], [62, 65],
			[63, 67], [64, 68], [65, 69],
			[66, 70], [67, 72], [68, 75],
			[69, 80]
			]
		);
		var options = {
			width: 750,
			height: 563,
			hAxis: { title: 'Time' },
			vAxis: { title: 'Popularity' },
			curveType: "function",
			legend: { position: 'bottom' },
			backgroundColor: "white",
			// legend.position: "bottom"
			pointShape: "diamond"
		};
		var chart = new google.visualization.LineChart( document.getElementById('chart') );
		// var chart = new google.charts.Line( document.getElementById('chart') );
		chart.draw( data, options );
		// chart.draw(data, google.charts.Line.convertOptions( options) );

	}  // end `function drawChart() {`
</script>
